{% extends 'base.html.twig' %}

{% block title %}Liste des joueurs{% endblock %}

{% block body %}
    <h1>gif Liste des joueurs</h1>

    {% for player in players %}
        <div>
            <h2>{{ player.name }}</h2>
            <p>Position : {{ player.position }}</p>
            <p>Équipe : {{ player.team }}</p>
            <a href="{{ path('app_player_show', {id: player.id, slug: player.slug}) }}">
            Plus info
            </a>
        </div>
    {% endfor %}

{% endblock %}
