{% extends 'base.html.twig' %}

{% block title %}Basketball Home{% endblock %}

{% block body %}

<section class="relative w-full h-screen overflow-hidden">

    <video 
        id="hero-video"
        class="absolute inset-0 w-full h-full object-cover"
        autoplay 
        muted
        playsinline>
        <source src="{{ asset('videos/232453_medium.mp4') }}" type="video/mp4">
    </video>

    <h1> Basketball</h1>

    <p>
        Le basketball est un sport collectif qui oppose deux équipes de cinq joueurs.
        Le but est de lancer le ballon dans le panier adverse pour marquer des points.
    </p>

</section>

{% endblock %}